<!DOCTYPE html>
<html class="no-js" lang="en-US">
    <head>
        <meta charset="utf-8">
        <title>
            {{ .Title }} - {{ .Site.Title }}
        </title>

        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" type="text/css" href="/css/v1.css">
        <link rel="stylesheet" type="text/css" href="/css/styles.css" />
        <link rel="stylesheet" type="text/css" href="/css/fonts-googleapis-com-css-family-Lato.css">
        <link rel="stylesheet" type="text/css" href="/css/cdnjs-cloudflare-com-ajax-libs-font-awesome-4.7.0-css-font-awesome.min.css">

        <script type="text/javascript" src="/js/menu.js"></script>

    </head>
    <body lang="en">

            {{ partial "header.html" . }}

            {{ block "header" . }}
                <div style="height: 40px"></div>
            {{ end }}

            <div class="content-bg">
                <div class="content">
                    {{ block "main" . }}
                    {{ end }}
                </div>
            </div>

            {{ partial "footer.html" . }}

    </body>
</html>
