/*body {
	-webkit-font-smoothing: antialiased;
	background-color: #f0f0f0;
	color: #707070;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 14px;
	height: 100%;
	margin: 0px;
	padding: 0px;
}
#main-outer {
	width: 100%;
	height: 100%;
}*/

/* NAVIGATION */

.navigation-wrapper {
	background-color: black; /*color of the after menu bar*/
	width: 100%;
}
.navigation-wrapper .navigation .nav {
	zoom: 1;
	display: block;
	float: left;
	list-style: none;
	margin: 0px;
}
.navigation-wrapper .navigation .nav li {
    background-color: transparent;
    float: left;
    position: relative;
}
.navigation-wrapper .navigation .nav li .sub-menu {
	background-image: none;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	-ms-border-radius: 0px;
	-o-border-radius: 0px;
	border-radius: 0px;
	background-color: #022a3b;
	margin: 50px 0px 0px 0px;
	position: absolute;
	padding: 0px;
	top: 0px;
	visibility: hidden;
	top: 10px;
	opacity:0;
	width: 200px;
	z-index: 999;
}
.navigation-wrapper .navigation .nav li .sub-menu .menuparent>.sub-menu  {
	margin: 0px 0px 0px 200px;
}
.navigation-wrapper .navigation .nav li .sub-menu li {
	float: none;
	display: block;
	min-width: 100%;
}
.nav:after, .container:after {
	display: table;
    content: " ";
    clear: both;
}
.nav:before, .container:before {
	display: table;
    content: " ";
}
.nav > li a {
	/* No more important to override the color */
	background-color: black; /*color of the dropdown menu elem*/
	color: #fff !important;
	display: block;
	font-size: 14px;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 17px;
	padding-top: 15px;
}
.nav > li > a {
	border-top:2px solid black; /*color of the little bar on top of the menu elem*/
	background-color: black !important; /*color of the menu elements*/
}
.nav > li ul li a {
	border: 0px !important;
}
.navigation-wrapper .navigation .nav li:hover>ul{
	-webkit-transition: opacity 0.3s ease-in, top 0.1s ease-in;
	-moz-transition: opacity 0.3s ease-in, top 0.1s ease-in;
	-o-transition: opacity 0.3s ease-in, top 0.1s ease-in;
	transition: opacity 0.3s ease-in, top 0.1s ease-in;
	visibility:visible;
	top: 0px;
	opacity: 1;
}
.navigation-wrapper .navigation .nav>li:hover>a{
	-webkit-transition: background-color 0.2s ease-in, border-top 0.2s ease-in;
	-moz-transition: background-color 0.2s ease-in, border-top 0.2s ease-in;
	-o-transition: background-color 0.2s ease-in, border-top 0.2s ease-in;
	transition: background-color 0.2s ease-in, border-top 0.2s ease-in;
	background-color:#022a3b !important; /*color of the menu hover*/
	border-top:2px solid #06a7ea;/*color of the up bar when over */
}
.navigation-wrapper .navigation .nav li a{
	text-decoration:none;
}
.navigation-wrapper .navigation .nav li ul li a:hover{
	-webkit-transition: background-color 0.2s ease-in,padding-left 0.2s ease-in;
	-moz-transition: background-color 0.2s ease-in,padding-left 0.2s ease-in;
	-o-transition: background-color 0.2s ease-in,padding-left 0.2s ease-in;
	transition: background-color 0.2s ease-in,padding-left 0.2s ease-in;
	background-color:#06a7ea !important;/*color of the submenu hover*/
	padding-left:25px;
}
.navigation-wrapper .navigation .nav>.menuparent>a {
	background-image: url("../images/arrow-down.png");
	background-position: 85% center;
	background-repeat: no-repeat;
	background-size: 12px 8px;
	padding-right: 40px;
}
.menuparent ul .menuparent>a {
	background-image: url("../images/arrow-right.png");
	background-position: 85% center;
	background-repeat: no-repeat;
	background-size: 8px 12px;
	padding-right: 40px;
}
#main-wrapper {
	position: fixed;
	width: 100%;
	z-index: 2;
}
/* NAVIGATION END */


/* RESPONSIVE */
/* Cache le menu sandwich sur PC */
#sandwich {
  display: none;
}

#home{
	min-height: 100%;
}
/* Faudrait mettre 'handheld' ou une autre condition ici */
@media(max-width:600px){
  /* Affiche le menu sandwich sur mobile */
  #sandwich {
	display: block;
	background-color: black;
	color: white;
	height: 31px;
  }
  /* Cache le menu */
  .navigation-wrapper {
    display: none;
  }
  /* Empile les éléments du menu au lieu de les aligner horizontalement */
  .navigation-wrapper .navigation .nav li {
      float: none;
  }
  /* Fait apparaître les sous-menus dans le menu au lieu de se superposer */
  .navigation-wrapper .navigation .nav li .sub-menu {
    margin: 0px 0px 0px 0px;
    position: static;
    display: none;
    visibility: visible;
    opacity: 1;
  }
  #main-menu,#main-wrapper {
    width: 100%;
  }
  #main-wrapper {
	/* Full screen menu to allow scrolling on mobile devices */
	height: 100vh;
	overflow: auto;
  }

  /* Lighter sub-menus */
  ul.sub-menu a {
    	background-color: #222;
  }
  ul.sub-menu {
	  width: 100%!important;
  }
}

/******************************************************************************/

.v1-top
{
    background-color: rgba(192, 192, 192, 0.5); /* 192 == #CC */
}
