
/*
    1. General
    2. Nav Bar, Home Page Header, breadcrumb
    3. Footer
    4. Home Page
    5. Listing Page
    6. Article Page
    7. Miscs
*/

/*******************************************************************************
    1. General
*******************************************************************************/

body {
    font-family: "Lato", sans-serif;
    line-height: 1.5;
}

html,
body {
   margin: 0;
   padding: 0;
   height: 100%;
}

p, li {
    text-align: justify;
}

h1 {
    text-align: center;
}

h1 { margin-top: 0.5rem; margin-bottom: 1rem; }
h2, h3, h4, h5, h6 { margin-top: 0; margin-bottom: 0.5rem; }

h1, h2, h3, h4, h5, h6 { line-height: 1.2; }

/* From http://www.color-hex.com/color-palette/1294 */
h1 { color: #011f4b; font-size: 2.50rem; text-decoration: underline; }
h2 { color: #03396c; font-size: 2.00rem; }
h3 { color: #005b96; font-size: 1.75rem; }
h4 { color: #6497b1; font-size: 1.50rem; }
h5 { font-size: 1.25rem; }
h6 { font-size: 1.00rem; }

a {
    color: #005b96;
    text-decoration: none;
}

a:hover {
    color: #888;
    text-decoration: underline;
}

.content-bg {
    width: 100%;
    padding-bottom: 105px; /* height of the footer */
    background-color: #FFF;
}

.content {
    margin: auto;
    padding: 0 15px;
    max-width: 850px;
    overflow: auto;
    color: #444;
}

.content img {
    width: 80%;
    margin: auto;
    display: block;
}

.content-container {
    position: relative;
    min-height: 100%;
}

.content_listing h1, .content_single h1 {
    text-decoration: none;
    color: black;
    font-size: 2.00rem;
    margin: 20px 0;
}

.content_listing hr, .content_single hr {
    border-top: 1px solid #CCC;
}

/*******************************************************************************
    2. Nav Bar, Home Page Header, Breadcrumb
*******************************************************************************/

#nav_bar {
    position: fixed;
}

#nav_bar_desktop {
    text-align: center;
}

#nav_bar {
    background-color: rgba(192, 192, 192, 0.65); /* 192 == #CC */
}

#nav_bar .active, .v1-button:hover {
    background-color: #eee !important;
}

#nav_bar .active {
    color: black !important;
}

.header_image_container {
    position: fixed;
    width: 100%;
    z-index: -1;
}

.header_image_container .image {
    background-image: url("/images/ece3sat_background.png");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    height: 450px;
}

.header_image_container p {
    position: absolute;
    top: 100px;
    right: 5%;
    max-width: 500px;

    font-size: 120%;
    text-align: right;
    color: #FFF;
}

.header_height {
    height: 450px; /* text vertical pos */
}

/*******************************************************************************
    3. Footer
*******************************************************************************/

footer {
    position: absolute;
    bottom: 0;

    width: 100%;
    text-align: center;

    padding: 30px 0;

    background-color: #000;
}

footer, footer a {
    color: #DDD;
}

footer .icon {
    font-size: 200%;
    position: relative;
    top: 5px;
}

/* cc by nc license */
footer img {
    position: relative;
    top: 5px;
}

/*******************************************************************************
    4. Home Page
*******************************************************************************/

.content_home {
    padding-top: 10px;
}

.parallax-image {
    height: 300px; /* height of the parallax */
    width: 100%;
    position: absolute;
    left: 0;
    overflow: hidden;

    background-position: center;
    background-attachment: fixed;

/*
required ??
    background-repeat: no-repeat;
    background-size: cover;
*/
}

.parallax-placeholder {
    height: 300px; /* height of the parallax */
    margin-bottom: 15px;
}

.parallax-image .title {
    font-size: 3rem;
    font-weight: bold;
    color: #FFF;

    text-align: center;
    position: relative;
    top: 140px;

    text-shadow: 0px 0px 10px black; /* offset-x | offset-y | blur-radius | color */
}


/*******************************************************************************
    5. Listing Page
*******************************************************************************/

.content_listing h2 a {
    color: #005b96;
    text-decoration: none;
}

.content_listing h2 a:hover {
    text-decoration: underline;
}

.content_listing h2 span {
    font-size: 50%;
    margin-left: 15px;
}

.content_listing .post_summary {
    overflow: auto;
    margin-top: 0;
    margin-bottom: 20px;
}

.content_listing .post_illustration {
    float: left;
    margin-right: 10px;
    min-height: 150px;
    max-height: 200px;
    width: auto;
    min-width: 150px;
}

/*******************************************************************************
    6. Article Page
*******************************************************************************/

.content_single h1 {
    position: relative;
    overflow: auto;
    text-align: center;
}

/*******************************************************************************
    7. Miscs
*******************************************************************************/

.image_pop_up_legend img {
    margin: 10px auto 0 auto;
    max-height: 500px;
    max-width: 80%;
    width: auto;
}

.image_pop_up_legend img:hover {
    opacity: 0.75;
}

.image_pop_up_legend figcaption {
    text-align: center;
    font-style: italic;
    margin-top: 5px;
    margin-bottom: 10px;
}

.children_div_inline_block div {
    display: inline-block;
}
