<footer>ECE3SAT - <a href="mailto:ece3sat@gmail.com">ece3sat@gmail.com</a> - <a href="/about_tech">About this website</a> - <a href="https://www.facebook.com/Ece3sat/" target="_blank">Facebook</a></footer>

<!--
<footer id="footer" class="v1-center v1-black">
    <div class="footerContent">
        <br><br>
        <a href="#home" class="v1-button v1-white v1-hover-black"><i class="fa fa-arrow-up v1-margin-right"></i>To the top</a>
        <div class="v1-large" id="nomFooter">
            <a href="mailto:ece3sat@gmail.com" class="linkNotUnderlined v1-hover-text-blue"><i class="fa fa-envelope fa-fw v1-hover-text-blue v1-xlarge v1-margin-right"></i>ece3sat@gmail.com</a>
        </div>
        <div class="v1-wide">Made by <a href="http://www.valentinlarrieu.fr/" class="v1-hover-text-blue linkNotUnderlined">Valentin Larrieu</a>,
            <i class="fa fa-copyright"></i> ECE3SAT 2017, <a href="https://www.facebook.com/Ece3sat/"><i class="fa fa-facebook-official v1-hover-opacity v1-xlarge"></a></i>
            <a href="https://github.com/ECE3SAT"><i class="fa fa-github v1-hover-opacity v1-xlarge"></a></i>
        </div>
        <br>
    </div>

</footer>
-->
