<div id="nav_bar" class="v1-top">
    <div id="nav_bar_desktop">
        <a class="v1-bar-item v1-button v1-hover-black v1-hide-medium v1-hide-large v1-right" href="javascript:void(0);" onclick="menu_toggle()" title="Toggle Navigation Menu">
            <i class="fa fa-bars"></i>
        </a>

        <a class="v1-bar-item v1-button v1-hide-small" href="/"><i class="fa fa-home"></i> Home</a>
        <a class="v1-bar-item v1-button v1-hide-small" href="/theproject"><i class="fa fa-rocket"></i> The Project</a>
        <a class="v1-bar-item v1-button v1-hide-small" href="/cubesatmodules"><i class="fa fa-cube"></i> Cubesat Modules</a>
        <a class="v1-bar-item v1-button v1-hide-small" href="/blog"><i class="fa fa-calendar-o"></i> Blog</a>

    </div>

    <!-- Navbar on small screens -->
    <div id="nav_bar_mobile" class="v1-bar-block v1-dark-grey v1-hide v1-hide-large v1-hide-medium">
        <a class="v1-bar-item v1-button" href="/"><i class="fa fa-home"></i> Home</a>
        <a class="v1-bar-item v1-button" href="/theproject"><i class="fa fa-rocket"></i> The Project</a>
        <a class="v1-bar-item v1-button" href="/cubesatmodules"><i class="fa fa-cube"></i> Cubesat Modules</a>
        <a class="v1-bar-item v1-button" href="/blog"><i class="fa fa-calendar-o"></i> Blog</a>
    </div>
</div>
